.breadcrumb {
	color: $primary;
	font-size: 18px;
	line-height: 22px;
	border-radius: 0;
}

.breadcrumb-item {
	padding-left: 5px !important;
	&:before {
		padding-right: 5px !important;
	}
}

.active {
    color: $grey-3;
}