.btn {
    outline: none;
    border-radius: 0;
    height: 40px;
    min-width: 160px;
    font-size: 16px;
    font-weight: 600 !important;
    border: 0;
    cursor: pointer;
}
.btn-sm {
    height: 32px !important;
    width: 128px !important;
    font-size: 14px !important;
}
.btn-primary:hover {
    background-color: $primary-hover !important;
    color: white;
}

.btn-secondary:hover {
    background-color: $grey-5;
    color: white;
}
.btn-outline {
    border: 1px solid $primary;
}
.btn-outline:hover {
    background-color: $outlined-hover;
    color: $primary;
}
