.card {
    background-color: $off-white;
    border: 0;
    border-radius: 0;

    .card-title {
        font-size: 28px; 
        font-weight: bold;
        letter-spacing: -0.2px;
        line-height: 34px;
        margin-bottom: 0;
        padding-bottom: 6px;
        color: $primary;
    }

    .card-text {
        color: #000000;
        font-size: 18px;
        line-height: 28px;    
        margin-bottom: 0;
    }  

    .card-subtitle {
        color: black;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -0.18px;
        line-height: 28px;
        margin-top: 5px;
        margin-bottom:0;
    }
    &.bg-primary .card-title,
    &.bg-primary .card-subtitle,
    &.bg-primary .card-text {
        color: white;
    }
}

.card-outline {
    background-color: #FFFFFF;
    border: 1px solid $grey-9;
}

.card-body {
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 24px;
}

.image-card {
	box-sizing: border-box;
    border: 2px solid grey;
    position: relative;

    .card-footer {
        background-color: rgba(0,0,0,0.38) !important;
        position: absolute;
        bottom: 0;
        padding: 16px;
        display: flex;
        width: 100%;

        .card-text {
            color: #FFFFFF;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -0.18px;
            line-height: 28px;
        }
    }
}

.overline {
    margin-top: 0;
    margin-bottom: 8px;
}

.square-image {
    height: 32px;
    width: 32px;
    fill: $grey-5;
    stroke: $grey-5;
}

.p-mt-1 {
    margin-top: 12px;
}

.p-mt-2 {
    margin-top: 32px;
}

.p-mt-3 {
    margin-top: 36px;
}

.card-footer {
    background-color: inherit;
    border-top: none;
    padding: 24px;
}



