$primary: #007aba;
$secondary: #4C4C4C;
$success: #00B400;
$info: #FFD200;
$warning: #FF8000;
$danger: #ED1C24;
$light: #F5F5F5;
$dark: #2E2E2E;
$white: #FFFFFF;
$black: #000000;
$grey-3: #636363;
$grey-5: #8E8E8E;
$grey-9: #D7D7D7;
$primary-hover: #4996C0;
$outlined-hover: #EAF2F9;
$light-grey: #BDBDBD;
$off-white: #F5F5F5;
$table-hover: #E5F1F7;

/* colors */
/* warning colors */
.bg-success,
.btn-success,
.green {
  background-color: $success;
}

.bg-info,
.btn-info,
.yellow {
  background-color: $info;
  color: black !important;
}

.bg-warning,
.btn-warning,
.orange {
  background-color: $warning;
}

.bg-danger,
.btn-danger,
.red {
  background-color: $danger;
}

.bg-primary,
.btn-primary {
  background-color: $primary !important;
  color: $white;
}
.bg-secondary,
.btn-secondary {
  background-color: $secondary;
  color: $white;
}
.bg-light,
.btn-light {
  background-color: $light;
  color: $primary;
}
.bg-dark,
.btn-dark {
  background-color: $dark;
  color: $white;
}
.btn-outline {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}

/* warning colors */
/* primary chart */
.primary0 {
  background-color: #005A98
}

.bg-primary,
.primary {
  background-color: $primary;
}

.primary2 {
  background-color: #008BCE;
}

.primary3 {
  background-color: #069EE1;
}

.primary4 {
  background-color: #0CACF0;
}

.primary5 {
  background-color: #2EB9F2;
}

.primary6 {
  background-color: #52C5F3;
}

.primary7 {
  background-color: #82D6F7;
}

.primary8 {
  background-color: #B4E6FA;
}

.primary9 {
  background-color: #E1F5FD;
}

/* primary chart */
/* secondary chart  */
.secondary0 {
  background-color: #2A2A2A;
}

.secondary {
  background-color:$secondary;
}

.secondary2 {
  background-color: #6C6C6C;
}

.secondary3 {
  background-color: #808080;
}

.secondary4 {
  background-color: #AAAAAA;
}

.secondary5 {
  background-color: #C8C8C8;
}

.secondary6 {
  background-color: #EAEAEA;
}

.secondary7 {
  background-color: #F2F2F2;
}

.secondary8 {
  background-color: #F7F7F7;
}

.secondary9 {
  background-color: #FCFCFC;
}

/* secondary chart  */
/* black & white */
.black-color {
  background-color: $black;
}

.white-color {
  background-color: $white;
}

/* black & white */
/* colors */