.dropdown-toggle, .dropdown-item {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    padding: 0 {
        left: 16px;
        top: 6px;
        bottom: 6px;
    }
}

.dropdown-toggle {
    height: 48px;
    position: relative;
    font-size: 14px;
    text-align: left;
    background-color: white;
    color: black;
    border: none {
        radius: 0;
        bottom: #E1E1E1 solid 0.5px;
    }
    &:hover {
        background-color: white;
        color: black;
        border-color: white;
        border-bottom: #E1E1E1 solid 0.5px;
    }
    &.btn-sm {
        height: 32px;
        font-size: 16px;
    }
    &::after {
        position: absolute;
        font-family: 'icomoon' !important;
        right: 15px;
        content: '\e902'; /*TODO change to new chevron */
        border: 0;
        color: #8E8E8E;
    }
}
.dropdown-toggle.btn-primary::after,
.dropdown-toggle.btn-secondary::after {
    color: inherit;
}

.show>.dropdown-toggle  {
    color: black;
    background-color: white;
    border: none;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.show>.dropdown-toggle:focus{
    color: black;
    background-color: white;
    border: none;
    box-shadow: none;
    border-bottom: #E1E1E1 solid 0.5px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}

.dropdown-item{
    height: 48px;
    line-height: 14px;
    font-size: 14px;
    &:hover{
        background-color: #EBEBEB;
    }
    &:active {
        color: black;
    }
}

.dropdown-menu{
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.dropdown-menu-sm .dropdown-item {
    height: 32px;
}

.dropdown-toggle.focus, .dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-toggle.focus, .dropdown-toggle:active {
    border: none;
    box-shadow: none;
    background-color: white;
    color: black;
}
