header {
    &.navbar,
    &.navbar-secondary, 
    .navbar, .navbar-secondary {
        height: 96px;
        background-color: white;
        flex-wrap: nowrap;

        .nav-tabs {	
            height: 100%;    
            border-bottom: none;
        }

        .navbar-narrow {
            max-width: 1280px;
            width: 100%;
            display: flex;
            align-content: center;
        }
        
        .nav-item {
            border-bottom: 0;
            text-decoration: none;    
            height: 48px;
            width: 100%;
            min-width: 192px;
            color: #8E8E8E;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
            margin: 0 12px;
            cursor: pointer;
            
            &.active {
                border-bottom: 2px solid $primary ;
                color: black ;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }

            &.drop-down {
                align-items: center;
                border-bottom: none;
                position: relative;

                &::after {
                    content: " ";
                    position: absolute;
                    right: 0;
                    background-image: url('../img/down.svg');
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    align-self: start;
                    margin-top: .5rem;
                }

                &.active {
                    border-bottom: 0;
                    color: black;
                    &::after {
                        background-image: url('../img/down_active.svg');
                    }
                }
            }
        }
    }
}

 
.navbar-secondary {
    height: 40px;
    background-color: white;
    width: 100%;
    border-top: 2px solid rgba(0,0,0,0.1);

    .nav-tabs {
        border-bottom: none;
    }
}

.navbar-secondary h1 {
    color: $primary;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 34px;
    margin-right: 22px;    
} 

.navbar h1 {
	color: $secondary;
	font-size: 24px;
    line-height: 29px;
    margin-left: 24.33px;
    margin-bottom: 0px
}

.navbar-brand {
    background-image: url('../img/zebra_logo.png');
    height: 64px;
    min-width: 195px;
}

.navbar-small,
.navbar-secondary {
    .navbar-brand {
        background-image: url('../img/zebra_logo_small.png');
        background-repeat: no-repeat;
        height: 48px;
        min-width: 149px;
    }
    .nav-item {
        white-space: nowrap;
        padding: 0 25px;
        min-width: initial !important;
    }
}

.search-container {
    min-width: 100px;
    max-width: 409px;
    width: 100%;
    height: 49px;
	box-sizing: border-box;
	border: 1px solid $light-grey;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
}

.search-container-bottom {
	height: 56px;
	width: 1920px;
    background-color: $off-white;
    width:100%;    
    padding-left: 16px;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    margin-right: 12.5px;
}

.search-box {
	color: $light-grey;
	font-size: 18px;
    line-height: 28px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    margin-left: 12.5px;
    margin-right: 36px;
    height: 28px; 
    width: 324px;
}

.person-icon {
    width: 32px;
    height: 32px;
    background-image: url('../img/person.svg');
}

.person-container {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-align: right;
}

.navbar > .nav-tabs .nav-item.drop-down,
.navbar-secondary > .nav-tabs .nav-item.drop-down {
    color: #636363;
    font-size: 18px;
    font-weight: 600;   
    height: 28px;
    width: 100%;
    
    &.active {
        color: black ;
    }
}