:root {
  --input-padding-x: .50rem;
  --input-padding-y: .55rem;
}
input {
  height: 48px;
  caret-color: $primary;
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  border-radius: 0px;
  :focus {
    border: 1px solid $primary;
    background-color: #FFFFFF;
  }
  &::placeholder {
    height: 28px;
    color: #BDBDBD;
    font-size: 18px;
    line-height: 28px;
  }
}
.form-control {
  height: 48px;
  width: 408px;
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  border-radius: 0;
  &:invalid {
    background-image: none !important;
  }
  &:valid {
    background-image: none !important;
  }
  &:focus {
    border: 1px solid $primary;
    box-shadow: none !important;
  }
}

.form-control:disabled, .form-control[disabled] {
  height: 48px;
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  background-color: #BDBDBD;
  border-radius: 0;
}

.form-control:disabled::placeholder, .form-control[disabled]::placeholder {
  color: white !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border: 1px solid #BDBDBD;
}

.form-label-group.float-label-outer {
  margin-bottom: 1rem;
  > label {
    color: #000000;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #000000;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 24px;
  }
  > input {
    padding: var(--input-padding-y) var(--input-padding-x);
    color: #000000;
  }
}

.form-label-group.float-label-inner {
  position: relative;
  margin-bottom: 1rem;
  > input {
    padding: var(--input-padding-y) var(--input-padding-x);
    color: #000000;
    margin-top: -5px !important;
  }
  > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    color: #000000;
    margin-top: -5px !important;
    margin-bottom: 5px !important;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #000000;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
  }
  input ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    color: #000000;
    font-size: 14px;	font-weight: 600;
    letter-spacing: 0.1px;
    margin-top: 2px;
  }
  input:focus ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    color: #000000;
    font-size: 14px;	font-weight: 600;
    letter-spacing: 0.1px;
  }
}
