.modal {
    background-color: white;
    height: 320px;
    width: 600px;
    left: 50%;
    padding-right: 0px !important;
    position: absolute;
    left: 50%;
}

.modal-header {
    padding-top: 40px;
    padding-right: 40px;
    border-bottom: 0;
}

.modal-body {
    padding-top: 11px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.modal-footer {
    border-top: none;
    padding-top: 30px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.close {
    background-image: url('../img/close.svg');
    width: 32px;
    height: 32px;
}