input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border: #8E8E8E solid 2px;
    border-radius:0;
    -webkit-appearance: none;
    display: flex;
    overflow: visible;
    position: relative;
    margin: 12px;
    z-index: 1;
    transform-style: preserve-3d;
    cursor: pointer;
    outline: 0;

    &:focus {
        outline: 0;
    }
    
    &:checked{
        background-color: $primary;
        border: $primary solid 2px;
        background-image: url("data:image/svg+xml;utf8,<svg fill=\"white\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><title>Check</title><polygon points=\"512 128 448 64 192 320 64 192 0 256 192 448 512 128\"/></svg>");
        background-size: 99%;
        background-position: contain;
    }

    &:checked:hover{
        background-color: $primary;
        border: $primary solid 2px;
    }

    &:hover::before {
        content: "";
        position: absolute;
        background-color: #EBEBEB;
        border-radius: 24px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -14px;
        top: -14px;
    }

    &:checked:hover::before {
        content: "";
        position: absolute;
        background-color: rgba(0,124,176,0.1);
        border-radius: 24px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -14px;
        top: -14px;
    }

    &:checked:indeterminate{
        background: url('minus.svg');
        background-position: center;
        background-size: 90%;
        background-color: $primary;
        border: $primary solid 2px;
    }

    &:indeterminate{
        background: url('minus.svg');
        background-position: center;
        background-size: 90%;
        background-color: #BDBDBD;
        border: #BDBDBD solid 2px;
    }

    &:checked:active::before {
        content: "";
        position: absolute;
        background-color: rgba(0,124,176,0.2);
        border-radius: 24px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -14px;
        top: -14px;
    }

    &:active {
        border: #8E8E8E solid 2px;
    }

    &:active::before {
        content: "";
        position: absolute;
        background-color: #D7D7D7;
        border-radius: 24px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -14px;
        top: -14px;
    }

    &:checked:active {
        background-color: $primary;
    }

    &:disabled{
        background-color: #BDBDBD;
        border: #BDBDBD solid 2px !important;
    }

    &:disabled:before,
    &:disabled:checked:before{
        content: "";
        position: relative;
        background-color: #EBEBEB;
        border-radius: 24px;
        width: 0;
        height: 0;
        transform: translateZ(-1px);
        left: -14px;
        top: -14px;
    }


    &:disabled:checked {
        background-color: #BDBDBD;
        border: #BDBDBD solid 2px;
        background-image: url('check.svg');
        background-size: 98%;
        background-position: contain;
    }
}

/******************/
/***   RADIOS   ***/
/******************/
input[type="radio"] {
    width: 19px;
    height: 19px;
    background-color: white;
    border: white solid 5px;
    box-shadow: 0 0 0 1.5pt #8E8E8E;
    -webkit-appearance: none;
    border-radius: 25px;
    display: flex;
    overflow: visible;
    position: relative;
    margin: 12px;
    z-index: 1;
    transform-style: preserve-3d;
    cursor: pointer;
    outline: 0;

    &:hover::before{
        content: "";
        position: absolute;
        background-color: #EBEBEB;
        border-radius: 25px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -20px;
        top: -20px;
    }

    &:hover{
        background-color: #EBEBEB;
        border-color: #EBEBEB;
    }

    &:active::before {
        background-color: #D7D7D7;
    }

    &:active {
        border-color: #D7D7D7 ;
        background-color: #D7D7D7;
    }

    &:checked {
        background-color: $primary;
        border: #ffffff solid 3.5px;
        border-radius: 25px;
        box-shadow: 0 0 0 1.5pt #8E8E8E;
    }

    &:checked:hover::before{
        content: "";
        position: absolute;
        background-color: rgba(0,124,176,0.1) ;
        border-radius: 25px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -18.2px;
        top: -18.2px;
    }

    &:checked:hover{
        border-color:#eff3f9;
    }

    &:checked:active::before {
        content: "";
        position: absolute;
        background-color: rgba(0,124,176,0.2);
        border-radius: 25px;
        width: 48px;
        height: 48px;
        transform: translateZ(-1px);
        left: -18.5px;
        top: -18.5px;
    }

    &:checked:active {
        border-color: #d3dded;
    }


    &:disabled{
        background-color: #BDBDBD;
        border-color: #BDBDBD;
        box-shadow: 0 0 0 1.5pt #BDBDBD;
    }

    &:disabled:hover::before {
        content: "";
        position: relative;
        border-radius: 25px;
        width: 0px;
        height: 0px;
        transform: translateZ(-1px);
        left: 0px;
        top: 0px;
    }

    &:disabled:hover {
        background-color: #BDBDBD;
        border-color: #BDBDBD ;
        box-shadow: 0 0 0 1.5pt #BDBDBD;
    }

    &:disabled:checked {
        border-color: white !important;
        background-color: #8E8E8E;
        box-shadow: 0 0 0 1.5pt #8E8E8E;
    }

    &:disabled:checked::before {
        content: "";
        position: relative;
        border-radius: 25px;
        background-color: #ffffff;
        width: 19px;
        height: 19px;
        transform: translateZ(-1px);
        left: 0px;
        top: 0px;
    }

    &:disabled:checked:hover {
        border-color: white;
        background-color: #8E8E8E;
    }
}

/******************/
/**** SWITCHES ****/
/******************/

label.custom-control-label {
    margin: 0 !important;
    cursor: pointer !important;
    margin-left: 20px !important;
}

label.custom-control-label::before{
    border: 0 !important;
    background-color: #BDBDBD;
    width: 34px;
    height: 14px !important;
    overflow: show;
    right: -12px !important;
}

.custom-switch .custom-control-label::after  {
    background-color: white !important;
    border: #4c4c4c solid 2px;
    border-radius: 25px !important;
    width: 20px ;
    height: 20px ;
    top: 1px !important;
    right: 0px !important;
    left: -38.5px !important;
    margin-left: 0 !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(.64rem);
    transform: translateX(0.64rem);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primary;
    background-color: $primary;
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #BDBDBD !important;
    border-color: #BDBDBD;
}
.custom-control-input:disabled~.custom-control-label::after {
    background-color: #8E8E8E !important;
    border-color: #8E8E8E !important;
    border: 0;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-control-input:hover~.custom-control-label::after {
    z-index: 0;
    transform: translateZ(-2px);
}


.custom-control:hover input[type="radio"] {
    opacity: 1;
    width: 0 !important;
    height: 0 !important;
    left: 6px;
    top:-10px;
    z-index: 0;
    border:#EBEBEB solid 21px !important;
    border-radius: 25px !important;
    -webkit-appearance: none;
}

.custom-control:hover input[type="radio"]:checked {
    border-color: rgba(0,124,176,0.1) !important;
}

.custom-control:active input[type="radio"]:checked {
    border-color: rgba(0,124,176,0.2) !important;
}

.custom-control:active input[type="radio"] {
    border-color: #D7D7D7 !important;
}
label.custom-control-label::before:active {
    background-color: #bdbdbb !important;
}

label.custom-control-label::before:active input[type="radio"]:checked{
    background-color: $primary !important;
}

.custom-control:active label.custom-control-label::before {
    background: #BDBDBD !important;
}

.custom-control:active input[type="radio"]:checked~
label.custom-control-label::before {
    background: $primary !important;
}

.custom-control:hover input[type="radio"]:disabled {
    display:none;
}