.table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
}
.table tbody tr,
.table thead tr {
    font-size: 16px;
    height: 64px;
    background:white;
}
.table-bordered {
    font-size: 16px;
    height: 64px;
    background:white;
}
.table-hover tr:hover td {
    background-color: $table-hover;
  }
.table td, .table th {
    border-top:none;
    border-bottom: 1px solid $light-grey;
    vertical-align: middle !important;
}
.table-striped {
    background-color: $off-white;
}
.table-sm tbody tr, .table thead tr {
    height: 48px;
    font-size: 16px;
    background:white;
}
.btn-arrow {
    margin: 3px;
    border: none;
    outline: none;
    height:24px;
    width:24px; 
}
.next {
    background-image: url('../img/right.svg');
}
.back {
    background-image: url('../img/left.svg');
}
.page-item {
    margin:3px;
    border: 1px solid $light-grey;
    color: $light-grey;
    background-color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 0px;
    min-width: 24px;
    min-height: 24px;
    letter-spacing: 0.15px;
    line-height: 23px;
    text-align: center;
    outline: none;
}
.pagination { 
    padding-top: 32px;
    display:flex;
    justify-content: flex-end;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    list-style-type: none;
}
.selected {
    color: white;
    background-color: $primary;
}
.filler {
    visibility: hidden;
}