nav {
    &.navbar {
        background-color: white;
        .nav-item {
            border-bottom: 1px solid $light-grey;
            width: 160px;
            height: 48px;
            color: $secondary !important;
            &:hover {
                color: $primary !important;
                background-color: rgba(0, 124, 176, 0.1);
            }
            &:active {
                color: $primary !important;
                background-color: rgba(0, 124, 176, 0.2);
            }
            &.active {
                border-bottom: 2px solid $primary;
                color: $primary !important;
            }
            &.active-strong {
                background-color: $primary; 
                color: white !important;
            }
            
            &.disabled {
                color: $light-grey !important;
            }
        }
    }
}



