body *, h1, h2, h3, h4, h5, h6, p, div, span, label {
  font-family: "Proxima Nova", "Arial", sans-serif;
}

/* Headings */
h1 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 52px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 44px;
}

h3 {
  font-size: 32px;
  letter-spacing: -0.2px;
  line-height: 40px;
}

h4 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 34px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

/* Titles */
.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

/* Body text*/
.body-1 {
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 24px;
}

.body-2 {
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.body-3 {
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
}

.body-4 {
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
}


/* Body text */

/* Tables */
td, th {
	font-family: Arial;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.15px;
}
th {
	font-weight: bold !important;
}
.td-2 {
  font-size: 14px;
  letter-spacing: 0.13;
}
/* Tables */

/* Buttons */
.btn {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
}
.btn-sm {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.2px;
	line-height: 24px;
	text-align: center;
}
/* Buttons */

/* Text Fields */
.txt-field-1, .txt-field-2, .txt-field-3 {
  line-height: 28px;
  font-size: 24px;
}
.txt-field-2 {
  font-size: 18px;
}
.txt-field-3 {
  font-size: 18px;
  font-weight: 600;
}

/* Text Fields */

.menu-item {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.tab-item-1, .tab-item-2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.17px;
  line-height: 28px;
}
.tab-item-2 {
  font-size: 16px;
  letter-spacing: -0.13px;
}

/* nav */
nav.nav {
  background-color: $primary;
}
.nav-link {
  color: white;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
}
