@import '../node_modules/bootstrap/scss/bootstrap'; 
@import 'color';
@import 'button';
@import 'breadcrumb';
@import 'card';
@import 'dropdown';
@import 'header';
@import 'input';
@import 'selection';
@import 'table';
@import 'typography';
@import 'tabs';
@import 'modal';

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?7vfwjk');
  src:  url('/fonts/icomoon.eot?7vfwjk#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?7vfwjk') format('truetype'),
    url('/fonts/icomoon.woff?7vfwjk') format('woff'),
    url('/fonts/icomoon.svg?7vfwjk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}